<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">
    <div *ngSwitchCase="'switchBox'">
      <p class="switchText">{{getValue?question.labelTrue:question.labelFalse}}</p>
      <ion-toggle [formControlName]="question.key" [(ngModel)]="value" [id]="question.key"></ion-toggle>
    </div>
    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
    <div *ngSwitchCase="'geobox'">
      <input-geolocation [id]="question.key" [address]="question.value?.adress" [formControlName]="question.key"></input-geolocation>
      <input [id]="question.key" [value]="question.value?.address" [formControlName]="question.key">
    </div>

  </div>

  <div style="color:red" *ngIf="!isValid">{{question.label}} is required</div>
</div>