<p class="counter">{{items_list?.length}}</p>
<ion-icon name="search" class="applyFi1lter" (click)="showFilter()"></ion-icon>
<ion-list>
  <ion-item-sliding *ngFor="let item of (items_list|filterItems:filterFunction)" #sliding_item>

    <my-item [Item]="item" (click)="do(item)"></my-item>

    <ion-item-options side="start" >
      <button ion-button danger class='danger' (click)="delete(pr)">
        <ion-icon name="trash"></ion-icon>
        Elimina
      </button>
    </ion-item-options>

</ion-item-sliding>

</ion-list>
