ion-title.title-md.hydrated {
    text-align: center;
}


.fab-button{
    background-color: #1976d2;
    border: 0;
    //position: fixed;
    border-radius: 30px;
    width: 37px;
    height: 37px;
    color: #fff;
    line-height: -167px;
    text-align: center;
  }