<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pagamenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-dynamic-form [questions]="filterFields" (interactiveSubmit)="filterFunction=filter($event)"></app-dynamic-form>

  <!-- <item-field-filter [label]="filterLabel0" (doFilter)="filterFunction=searchFunctionFactory({title:$event})"></item-field-filter>
  <item-field-filter [label]="filterLabel1" (doFilter)="filterFunction=searchFunctionFactory({note:$event})"></item-field-filter>-->
  <my-items-list [service]='payments' [items_list]="paymentsList" [filterFunction]="filterFunction"></my-items-list>
</ion-content>